.aboutHero
  #myCarousel.carousel.slide(data-ride='carousel')
    .carousel-inner
      .item.active
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/jay.png', alt='jay')
              .col-md-8
                h1.decorative
                  | Jason Dolan
                  span Color Director &amp; Owner 
                p Friendly, tattooed, and incredibly good at what he does, Jason boasts a large and devoted following, including many actors. He brings life and luster to any shade of hair, yet he has a particular talent of giving highlights to black Asian hair that come out caramel, not red. Anyone who knows this conundrum will—and should—be wowed by Jason.
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/steph.png', alt='steph')
              .col-md-8
                h1.decorative
                  | Stephanie Shey
                  span Senior Stylist
                p One of Studio 101's most vivacious and dynamic personalities, Stephanie has been trained over the course of her decade long career by the likes of L'Oreal and Redken and brings national recognition to Studio 101, having had her talents featured by the likes of leading beauty publication, Allure Magazine. Stephanie's focus spans both color and cut and her passion for making her clients look and feel as beautiful as possible is something that drives her on a daily basis.  
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/steven.png', alt='steven')
              .col-md-8
                h1.decorative
                  | Steven Lester
                  span Senior Stylist
                p Steven's quest for inspiration has taken him all over the world, arming him with an elite sense of style cherished by his loyal client base across New England and beyond. Cutting his teeth as a barber and male stylist, Steven merged into the color and style space nearly 15 years ago, including training stints with L'Oreal and Redken. Steven has earned a well deserved reputation as a cutting edge technician and beauty expert bringing smiles to any client who graces his chair. 
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/kristen.png', alt='kristen')
              .col-md-8
                h1.decorative
                  | Kristen Tetreault-Lazzareschi
                  span Senior Stylist 
                p Trained internationally by some of the world's leading stylists in Paris, Los Angeles, and New York City, Kristen blends a diverse beauty background with nearly 20 years of expertise to deliver world class looks at Studio 101. Kristen's areas of focus run the spectrum from balayage and trend color to all forms of cutting and styling. Her innate sense of individuality is reflected in all of her work, providing reinvigorating and inspiring new trends to all of her clients.
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/lori.png', alt='lori')
              .col-md-8
                h1.decorative
                  | Lori Assad
                  span Senior Stylist 
                p Lori brings more than a decade of professional beauty experience to the Studio 101 team. Specializing in a number of areas including styling, color, and special occasion looks, her unique talent and unparalleled knowledge of industry trends keeps her at the forefront of the style frontier. Lori's warm and welcoming personality is felt throughout the salon and her client base.
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/taylor.png', alt='taylor')
              .col-md-8
                h1.decorative
                  | Taylor Dupre
                  span Senior Stylist 
                p From styling on film sets to the stages of the Dave Letterman show, Taylor brings nearly 10 years of professional experience to the Studio 101 team, including international training in Paris and an affinity for learning and perfecting the latest and greatest beauty techniques. Our junior staff frequently looks to Taylor for guidance and training as her expertise spans balyage, color, and all forms of styling. 
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/bre.png', alt='breanna')
              .col-md-8
                h1.decorative
                  | Breanna Shell
                  span Stylist 
                p A charismatic and energizing up and coming stylist, Bre leverages her training from the NY SoHo Academy and Tony and Guy to shape new styles and looks for hair of all styles and textures. 
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/katie.png', alt='katie')
              .col-md-8
                h1.decorative
                  | Katie Kelly
                  span Assistant
                p blah 
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/greg.png', alt='greg')
              .col-md-8
                h1.decorative
                  | Greg Dolan
                  span General Manager 
                p Blah
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/beth.png', alt='beth')
              .col-md-8
                h1.decorative
                  | Beth Lyons
                  span Salon Coordinator
                p Blah
    .talent-thumbnails
      .container
        ol.carousel-indicators.row
          li.col-md-1.active(data-target='#myCarousel', data-slide-to='0')
            img(src='img/about/jay-cropped.png', alt='jay')
          li.col-md-1(data-target='#myCarousel', data-slide-to='1')
            img(src='img/about/steph-cropped.png', alt='steph')
          li.col-md-1(data-target='#myCarousel', data-slide-to='2')
            img(src='img/about/steven-cropped.png', alt='steven')
          li.col-md-1(data-target='#myCarousel', data-slide-to='3')
            img.kristen(src='img/about/kristen-cropped.png', alt='kristen')
          li.col-md-1(data-target='#myCarousel', data-slide-to='4')
            img.lori(src='img/about/lori-cropped.png', alt='lori')
          li.col-md-1(data-target='#myCarousel', data-slide-to='5')
            img.taylor(src='img/about/taylor-cropped.png', alt='taylor')
          li.col-md-1(data-target='#myCarousel', data-slide-to='6')
            img(src='img/about/bre-cropped.png', alt='breanna')
          li.col-md-1(data-target='#myCarousel', data-slide-to='7')
            img.katie(src='img/about/katie-cropped.png', alt='katie')
          li.col-md-1(data-target='#myCarousel', data-slide-to='8')
            img.greg(src='img/about/greg-cropped.png', alt='greg')
          li.col-md-1(data-target='#myCarousel', data-slide-to='9')
            img(src='img/about/beth-cropped.png', alt='beth')
      .container
        .row
          h1.col-md-12.decorative View our talent
    hr
