.aboutHero
  #myCarousel.carousel.slide(data-ride='carousel')
    .carousel-inner
      .item.breanna.active
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/stylist.png', alt='breanna')
              .col-md-8
                h1.decorative
                  | Breanna Shell
                  span Junior Stylist 
                p Friendly, tattooed, and incredibly good at what she does, Breanna boasts a large and devoted following, including many actors. She brings life and luster to any shade of hair, yet she has a particular talent of giving highlights to black hair. Anyone who knows this conundrum will certainly be wowed by Breanna.
      .item.breanna
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/stylist.png', alt='breanna')
              .col-md-8
                h1.decorative
                  | Breanna Shell
                  span Junior Stylist 
                p Friendly, tattooed, and incredibly good at what she does, Breanna boasts a large and devoted following, including many actors. She brings life and luster to any shade of hair, yet she has a particular talent of giving highlights to black hair. Anyone who knows this conundrum will certainly be wowed by Breanna.
      .item.breanna
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/stylist.png', alt='breanna')
              .col-md-8
                h1.decorative
                  | Breanna Shell
                  span Junior Stylist 
                p Friendly, tattooed, and incredibly good at what she does, Breanna boasts a large and devoted following, including many actors. She brings life and luster to any shade of hair, yet she has a particular talent of giving highlights to black hair. Anyone who knows this conundrum will certainly be wowed by Breanna.
      .item.breanna
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/stylist.png', alt='breanna')
              .col-md-8
                h1.decorative
                  | Breanna Shell
                  span Junior Stylist 
                p Friendly, tattooed, and incredibly good at what she does, Breanna boasts a large and devoted following, including many actors. She brings life and luster to any shade of hair, yet she has a particular talent of giving highlights to black hair. Anyone who knows this conundrum will certainly be wowed by Breanna.
      .item.breanna
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/stylist.png', alt='breanna')
              .col-md-8
                h1.decorative
                  | Breanna Shell
                  span Junior Stylist 
                p Friendly, tattooed, and incredibly good at what she does, Breanna boasts a large and devoted following, including many actors. She brings life and luster to any shade of hair, yet she has a particular talent of giving highlights to black hair. Anyone who knows this conundrum will certainly be wowed by Breanna.
      .item.breanna
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/stylist.png', alt='breanna')
              .col-md-8
                h1.decorative
                  | Breanna Shell
                  span Junior Stylist 
                p Friendly, tattooed, and incredibly good at what she does, Breanna boasts a large and devoted following, including many actors. She brings life and luster to any shade of hair, yet she has a particular talent of giving highlights to black hair. Anyone who knows this conundrum will certainly be wowed by Breanna.
      .item.breanna
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/stylist.png', alt='breanna')
              .col-md-8
                h1.decorative
                  | Breanna Shell
                  span Junior Stylist 
                p Friendly, tattooed, and incredibly good at what she does, Breanna boasts a large and devoted following, including many actors. She brings life and luster to any shade of hair, yet she has a particular talent of giving highlights to black hair. Anyone who knows this conundrum will certainly be wowed by Breanna.
      .item.breanna
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/stylist.png', alt='breanna')
              .col-md-8
                h1.decorative
                  | Breanna Shell
                  span Junior Stylist 
                p Friendly, tattooed, and incredibly good at what she does, Breanna boasts a large and devoted following, including many actors. She brings life and luster to any shade of hair, yet she has a particular talent of giving highlights to black hair. Anyone who knows this conundrum will certainly be wowed by Breanna.
      .item.breanna
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/stylist.png', alt='breanna')
              .col-md-8
                h1.decorative
                  | Breanna Shell
                  span Junior Stylist 
                p Friendly, tattooed, and incredibly good at what she does, Breanna boasts a large and devoted following, including many actors. She brings life and luster to any shade of hair, yet she has a particular talent of giving highlights to black hair. Anyone who knows this conundrum will certainly be wowed by Breanna.
      .item.breanna
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/stylist.png', alt='breanna')
              .col-md-8
                h1.decorative
                  | Breanna Shell
                  span Junior Stylist 
                p Friendly, tattooed, and incredibly good at what she does, Breanna boasts a large and devoted following, including many actors. She brings life and luster to any shade of hair, yet she has a particular talent of giving highlights to black hair. Anyone who knows this conundrum will certainly be wowed by Breanna.
    .talent-thumbnails
      .container
        ol.carousel-indicators.row
          li.col-md-1.active(data-target='#myCarousel', data-slide-to='0')
            img(src='img/about/stylist.png', alt='breanna')
          li.col-md-1(data-target='#myCarousel', data-slide-to='1')
            img(src='img/about/stylist.png', alt='breanna')
          li.col-md-1(data-target='#myCarousel', data-slide-to='2')
            img(src='img/about/stylist.png', alt='breanna')
          li.col-md-1(data-target='#myCarousel', data-slide-to='3')
            img(src='img/about/stylist.png', alt='breanna')
          li.col-md-1(data-target='#myCarousel', data-slide-to='4')
            img(src='img/about/stylist.png', alt='breanna')
          li.col-md-1(data-target='#myCarousel', data-slide-to='5')
            img(src='img/about/stylist.png', alt='breanna')
          li.col-md-1(data-target='#myCarousel', data-slide-to='6')
            img(src='img/about/stylist.png', alt='breanna')
          li.col-md-1(data-target='#myCarousel', data-slide-to='7')
            img(src='img/about/stylist.png', alt='breanna')
          li.col-md-1(data-target='#myCarousel', data-slide-to='8')
            img(src='img/about/stylist.png', alt='breanna')
          li.col-md-1(data-target='#myCarousel', data-slide-to='9')
            img(src='img/about/stylist.png', alt='breanna')
      .container
        .row
          h1.col-md-12.decorative View our talent
    hr
