.aboutHero
  #myCarousel.carousel.slide(data-ride='carousel')
    .carousel-inner
      .item.active
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/jay.png', alt='jay')
              .col-md-8
                h1.decorative
                  | Jason Dolan
                  span Color Director &amp; Owner 
                p Jason, a RI-native and 15-year veteran of the world-class color team at Bergdorf Goodman’s John Barrett Salon, has built an impeccable reputation over the course of his acclaimed career, including global praise for his work in cutting-edge color techniques such as ombre and ballyage. Jason’s enviable client roster includes a who’s who of New York City’s elite and his talents have brought him from the runways of Fashion Week and America’s Next Top Model to the pages of Allure Magazine, and everywhere in between.
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/steph.png', alt='steph')
              .col-md-8
                h1.decorative
                  | Stephanie Shey
                  span Senior Stylist
                p One of Studio 101's most vivacious and dynamic personalities, Stephanie has been trained over the course of her decade long career by the likes of L'Oreal and Redken and brings national recognition to Studio 101, having had her talents featured by the likes of leading beauty publication, Allure Magazine. Stephanie's focus spans both color and cut and her passion for making her clients look and feel as beautiful as possible is something that drives her on a daily basis.  
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/steven.png', alt='steven')
              .col-md-8
                h1.decorative
                  | Steven Lester
                  span Senior Stylist
                p Steven's quest for inspiration has taken him all over the world, arming him with an elite sense of style cherished by his loyal client base across New England and beyond. Cutting his teeth as a barber and male stylist, Steven merged into the color and style space nearly 15 years ago, including training stints with L'Oreal and Redken. Steven has earned a well deserved reputation as a cutting edge technician and beauty expert bringing smiles to any client who graces his chair. 
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/kristen.png', alt='kristen')
              .col-md-8
                h1.decorative
                  | Kristen Tetreault-Lazzareschi
                  span Senior Stylist 
                p Trained internationally by some of the world's leading stylists in Paris, Los Angeles, and New York City, Kristen blends a diverse beauty background with nearly 20 years of expertise to deliver world class looks at Studio 101. Kristen's areas of focus run the spectrum from balayage and trend color to all forms of cutting and styling. Her innate sense of individuality is reflected in all of her work, providing reinvigorating and inspiring new trends to all of her clients.
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/lori.png', alt='lori')
              .col-md-8
                h1.decorative
                  | Lori Assad
                  span Senior Stylist 
                p Lori brings more than a decade of professional beauty experience to the Studio 101 team. Specializing in a number of areas including styling, color, and special occasion looks, her unique talent and unparalleled knowledge of industry trends keeps her at the forefront of the style frontier. Lori's warm and welcoming personality is felt throughout the salon and her client base.
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/taylor.png', alt='taylor')
              .col-md-8
                h1.decorative
                  | Taylor Dupre
                  span Senior Stylist 
                p From styling on film sets to the stages of the Dave Letterman show, Taylor brings nearly 10 years of professional experience to the Studio 101 team, including international training in Paris and an affinity for learning and perfecting the latest and greatest beauty techniques. Our junior staff frequently looks to Taylor for guidance and training as her expertise spans balyage, color, and all forms of styling. 
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/katie.png', alt='katie')
              .col-md-8
                h1.decorative
                  | Katie Kelly
                  span Assistant
                p A fresh new edition to Studio 101, Katie Kelly started her training at The Lift salon in Western Massachusetts and has joined our team to further her knowledge through the salons specialized education program.  Katie currently specializes in blowdrying, creative up-do's, and conditioning treatments.
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/greg.png', alt='greg')
              .col-md-8
                h1.decorative
                  | Greg Dolan
                  span General Manager 
                p Greg is a successful entrepreneur and Rhode Island native.  He is responsible for the beautiful carpentry work and elegant details that create our salons chic atmosphere. Originally coming to Studio 101 as a contractor, Greg quickly took on the role of General Manager.  Under his direction Studio 101 has become a market leader salon among brands such as Shu Uemura and L'Oreal Professional (not to mention, playing an integral part in Studio 101’s immense success and rapid growth).
      .item
        .container
          .carousel-caption
            .row
              .col-md-4
                img(src='img/about/beth.png', alt='beth')
              .col-md-8
                h1.decorative
                  | Beth Lyons
                  span Salon Coordinator
                p Beth brings fourteen years of experience in the beauty and customer service industry to the salon.  She has completed client relation training with companies such as L'Oreal and Bumble Bumble.  Her familiarity with the staff's work and attention to detail enable her to accommodate every one who walks through the door.  As Studio 101's salon coordinator,  Beth will ensure that your visit with us will be the best experience it can be. 
    .talent-thumbnails
      .container
        ol.carousel-indicators.row
          li.col-md-1.active(data-target='#myCarousel', data-slide-to='0')
            img(src='img/about/jay-cropped.png', alt='jay')
          li.col-md-1(data-target='#myCarousel', data-slide-to='1')
            img(src='img/about/steph-cropped.png', alt='steph')
          li.col-md-1(data-target='#myCarousel', data-slide-to='2')
            img(src='img/about/steven-cropped.png', alt='steven')
          li.col-md-1(data-target='#myCarousel', data-slide-to='3')
            img.kristen(src='img/about/kristen-cropped.png', alt='kristen')
          li.col-md-1(data-target='#myCarousel', data-slide-to='4')
            img.lori(src='img/about/lori-cropped.png', alt='lori')
          li.col-md-1(data-target='#myCarousel', data-slide-to='5')
            img.taylor(src='img/about/taylor-cropped.png', alt='taylor')
          li.col-md-1(data-target='#myCarousel', data-slide-to='6')
            img.katie(src='img/about/katie-cropped.png', alt='katie')
          li.col-md-1(data-target='#myCarousel', data-slide-to='7')
            img.greg(src='img/about/greg-cropped.png', alt='greg')
          li.col-md-1(data-target='#myCarousel', data-slide-to='8')
            img(src='img/about/beth-cropped.png', alt='beth')
      .container
        .row
          h1.col-md-12.decorative View our talent
    hr
