.container.aboutAwards
  .row
    .col-md-12
      h1.decorative We've been featured in...
  .row
    .col-md-4
      img.img-responsive.projo(src='img/about/projo.png', alt='Providence Journal')
    .col-md-4
      img.img-responsive.allure(src='img/about/allure.png', alt='allure')
    .col-md-4
      img.img-responsive.style-week(src='img/about/style-week.png', alt='Style Week')
