.footer
  .container
    .row
        .col-lg-12
          .col-sm-4
            h2 hello
          .col-sm-4
            h2 hello
          .col-sm-4
            h2 hello
    hr
    .row
      .col-lg-12
        p.copyright © 2013 Studio 101. All rights reserved
