.footer
  .container
    .row
      .col-lg-12
        .col-sm-4.visible-md.visible-lg
          img.logo(src='img/global/logo.png', alt='logo')
          p
            | Studio 101 is the preeminent hair salon experience located in the heart of Downtown Providence. It only takes one step inside the space to evoke a visceral feeling of chic New York City décor and modern luxury. Offering an array of style and color services, Studio 101 brings an entirely new element to the flourishing downtown scene.
            span.social-links
              | View us online:
              a(href="https://www.facebook.com/Studio101RI")
                i.facebook
              a(href="https://twitter.com/studio101ri")
                i.twitter
        .col-sm-4
          h2.decorative Get in Touch
          h3.odd
            span.moduleLabel Address
            span.moduleDescription 101 Orange Street, Providence, RI 02903
          h3
            span.moduleLabel Telephone
            span.moduleDescription (401) 808-6777
          h3.odd
            span.moduleLabel Email
            span.moduleDescription
              a.email.link(href="mailto:info@studio101ri.com") info@studio101ri.com
        .col-sm-4
          h2.decorative Hours of Operation
          h3.odd
            span.moduleLabel Monday
            span.moduleDescription Closed
          h3
            span.moduleLabel Tuesday
            span.moduleDescription 10:00 AM - 8:00 PM
          h3.odd
            span.moduleLabel Wednesday
            span.moduleDescription 10:00 AM - 8:00 PM
          h3
            span.moduleLabel Thursday
            span.moduleDescription 10:00 AM - 8:00 PM
          h3.odd
            span.moduleLabel Friday
            span.moduleDescription 10:00 AM - 8:00 PM
          h3
            span.moduleLabel Saturday
            span.moduleDescription 10:00 AM - 6:00 PM
          h3.odd
            span.moduleLabel Sunday
            span.moduleDescription Closed
    hr
    .row
      .col-lg-12
        p.copyright © 2013 Studio 101. All rights reserved
