.container.landingNav
  .row
    .col-sm-3
      img.img-circle(src='img/landing/nav/about.jpg', alt='about')
      h2.decorative Who Are We?
      p
        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      p.visible-xs
        a.btn.btn-arrow(href='about.html', role='button') Learn about us
    .col-sm-3
      img.img-circle(src='img/landing/nav/services.jpg', alt='services')
      h2.decorative What We Do?
      p
        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      p.visible-xs
        a.btn.btn-arrow(href='services.html', role='button') View our services
    .col-sm-3
      img.img-circle(src='img/landing/nav/products.jpg', alt='products')
      h2.decorative What We Use?
      p
        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      p.visible-xs
        a.btn.btn-arrow(href='products.html', role='button') Peruse our products
    .col-sm-3.get-in-touch
      img.img-circle(src='img/landing/nav/contact.jpg', alt='contact')
      h2.decorative Get In Touch
      p
        | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      p.visible-xs
        a.btn.btn-arrow(href='contact.html', role='button') Schedule an appointmet
  .row.hidden-xs
    .col-sm-3
      p
        a.btn.btn-arrow(href='about.html', role='button') Learn about us
    .col-sm-3
      p
        a.btn.btn-arrow(href='services.html', role='button') View our services
    .col-sm-3
      p
        a.btn.btn-arrow(href='products.html', role='button') Peruse our products
    .col-sm-3.get-in-touch
      p
        a.btn.btn-arrow(href='contact.html', role='button') Schedule an appointment
