.landingHero
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner
      .item.active
        img(src='img/landing/carousel/about.jpg', alt='about')
        .container
          .carousel-caption
            h1.decorative Hair with Style
            p Studio 101 is a premier salon proudly cutting, coloring, and styling Providence, Rhode Island.
            p
              a.btn.btn-lg.btn-primary(href='about', role='button') Learn More
      .item
        img(src='img/landing/carousel/about.jpg', alt='about')
        .container
          .carousel-caption
            h1.decorative Hair with Style
            p Studio 101 is a premier salon proudly cutting, coloring, and styling Providence, Rhode Island.
            p
              a.btn.btn-lg.btn-primary(href='about', role='button') Learn More
      .item
        img(src='img/landing/carousel/about.jpg', alt='about')
        .container
          .carousel-caption
            h1.decorative Hair with Style
            p Studio 101 is a premier salon proudly cutting, coloring, and styling Providence, Rhode Island.
            p
              a.btn.btn-lg.btn-primary(href='about', role='button') Learn More
      .item
        img(src='img/landing/carousel/about.jpg', alt='about')
        .container
          .carousel-caption
            h1.decorative Hair with Style
            p Studio 101 is a premier salon proudly cutting, coloring, and styling Providence, Rhode Island.
            p
              a.btn.btn-lg.btn-primary(href='about', role='button') Learn More
    a.left.carousel-control(href='#myCarousel', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#myCarousel', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
