.container.newsPromotions
  .row
    hr.col-sm-12
    .col-sm-4.latestNews
      h1.decorative Recent News
    .col-sm-4.currentPromotions
      h1.decorative Current Promotions
    .col-sm-4.twitter
      h1.decorative Latest Tweet
      #twitter
