.productsHero
  #myCarousel.carousel.slide(data-ride='carousel', data-interval='false')
    .carousel-inner
      .item.shu.active
        .container
          .carousel-caption
            img.logo(src='img/products/shu-logo.png', alt='logo')
            p This top-notch product line brings together the confidence in the power of nature and science with the passion and sensitivity of an artist. This perfect balance constitutes the unique world of Shu Uemura.
      .item.loreal
        .container
          .carousel-caption
            img.logo(src='img/products/loreal-logo.png', alt='logo')
            p L’Oréal Professionnel in-salon treatments are professionally formulated to repair, enhance, strengthen, nourish and protect depending on the needs of your hair. Each service is customized and individually prescribed specifically for you by your stylist to help return your hair to it’s healthiest and most beautiful state. 
    ol.carousel-indicators
      li.shu.active(data-target='#myCarousel', data-slide-to='0')
        .toggle.shu
          img.logo(src='img/products/shu-logo.png', alt='logo')
        .product-list
          .container
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/shu-products/shampoo.jpg', alt='Cleansing Oil Shampoo')
              .col-sm-5
                h2.decorative Cleansing Oil Shampoo (anti-oil astringent cleanser)
                p This silicone and paraben free shampoo removes oil and buildup from scalp and hair with high astringent power. It rebalances sebaceous glands to slow future oil production to leave hair lightly moisturized and airy.
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/shu-products/essence-absolue.jpg', alt='Essence Absolue')
              .col-sm-5
                h2.decorative Essence Absolue (nourishing protective oil)
                p Multi-use elixir that moisturizes and protects with intense nutrition. Rapidly absorbed into hair fiber, it rebalances the moisture level of dry hair. The soft-sleek velvety oil creates a supple touch with high shine and provides UV protection. Formulated for daily use. Safe on color-treated hair.
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/shu-products/essentials-kit.jpg', alt='Hair Essentials Kit')
              .col-sm-5
                h2.decorative Hair Essentials Kit
                p This kit includes both the Essence Absolue (30ML) and Volume Maker (2G). The Essence Absolue is a universal leave-in oil that offers all the richness of Camellia Oil in a petal light finish and the Volume Maker is a versatile, precision powder brush that gives instant volume and texture.
      li.loreal(data-target='#myCarousel', data-slide-to='1')
        .toggle.loreal
          img.logo(src='img/products/loreal-logo.png', alt='logo')
        .product-list
          .container
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/loreal-products/inoa.jpg', alt='about')
              .col-sm-5
                h2.decorative Inoa Color Care
                p Extend the intensity and shine of an INOA hair color service with NEW INOA Color Care. Discover our protective shampoo, conditioner and masque for INOA color treated hair.
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/loreal-products/expert.jpg', alt='about')
              .col-sm-5
                h2.decorative Serié Expert
                p Serié Expert is a complete haircare system that treats the hair's molecular structure from the core to the surface, delivering high performance results to maintain and preserve beautiful hair between salon visits.
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/loreal-products/mythic-oil.jpg', alt='Mythic Oil')
              .col-sm-5
                h2.decorative Mythic Oil
                p Indulge in the Ultimate Oil Ritual. Featuring in-salon and at-home products designed to balance the natural oil levels in the hair: cleansed at the root, nourished at the ends.
