.productsHero
  #myCarousel.carousel.slide(data-ride='carousel', data-interval='false')
    .carousel-inner
      .item.shu.active
        .container
          .carousel-caption
            img.logo(src='img/products/shu-logo.png', alt='logo')
            p This top-notch product line brings together the confidence in the power of nature and science with the passion and sensitivity of an artist. This perfect balance constitutes the unique world of Shu Uemura.
      .item.loreal
        .container
          .carousel-caption
            img.logo(src='img/products/loreal-logo.png', alt='logo')
            p L'Orêal Professionnel's new Mythic Oil line of shampoo, conditioner and masques use powerful oils to balance hair leaving it cleansed at the root and nourished at the ends for a weightless finish.
    ol.carousel-indicators
      li.shu.active(data-target='#myCarousel', data-slide-to='0')
        .toggle.shu
          img.logo(src='img/products/shu-logo.png', alt='logo')
        .product-list
          .container
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/shu-products/shampoo.jpg', alt='Cleansing Oil Shampoo')
              .col-sm-5
                h2.decorative Cleansing Oil Shampoo (anti-oil astringent cleanser)
                p This silicone and paraben free shampoo removes oil and buildup from scalp and hair with high astringent power. It rebalances sebaceous glands to slow future oil production to leave hair lightly moisturized and airy.
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/shu-products/essence-absolue.jpg', alt='Essence Absolue')
              .col-sm-5
                h2.decorative Essence Absolue (nourishing protective oil)
                p Multi-use elixir that moisturizes and protects with intense nutrition. Rapidly absorbed into hair fiber, it rebalances the moisture level of dry hair. The soft-sleek velvety oil creates a supple touch with high shine and provides UV protection. Formulated for daily use. Safe on color-treated hair.
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/shu-products/essentials-kit.jpg', alt='Hair Essentials Kit')
              .col-sm-5
                h2.decorative Hair Essentials Kit
                p This kit includes both the Essence Absolue (30ML) and Volume Maker (2G). The Essence Absolue is a universal leave-in oil that offers all the richness of Camellia Oil in a petal light finish and the Volume Maker is a versatile, precision powder brush that gives instant volume and texture.
      li.loreal(data-target='#myCarousel', data-slide-to='1')
        .toggle.loreal
          img.logo(src='img/products/loreal-logo.png', alt='logo')
        .product-list
          .container
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/loreal-products/shampoo-conditioner.jpg', alt='about')
              .col-sm-5
                h2.decorative Nourishing Shampoo &amp; Conditioner
                p This Nourishing Shampoo and Conditioner works to balance hair’s natural oil levels by gently cleansing and reducing oil at the root in addition to targeting dry ends to deliver lightweight nourishment. Hair is left feeling clean, soft, supple and brilliantly shiny.
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/loreal-products/masque.jpg', alt='about')
              .col-sm-5
                h2.decorative Nourishing Masque
                p A masque that targets the very dry ends of hair to deliver intense nourishment and balance hair’s natural oil levels. This masque results in soft and supple hair with brilliant shine.
            .row
              .col-sm-3.col-sm-offset-2
                img.img-circle(src='img/products/loreal-products/oils.jpg', alt='about')
              .col-sm-5
                h2.decorative Nourishing Oils
                p These Nourishing Oils provide legendary shine and frizz protection. Not to mention, weightless nourishment for all hair types. These oils work to balance hair's natural oil levels.
