.container.servicesBreakdown
  .row
    .col-sm-3.waxcuts
      h2.decorative Haircuts &amp; Waxing
      ul
        li
          b Women's cut -
          | $55 and up
          span ($40 for junior stylist)
        li
          b Men's cut -
          | $35 and up
          span ($30 for junior stylist)
        li
          b Bangs trim -
          | $15
        li
          b Lip, brow, or chin wax -
          | $15
    .col-sm-3.colors
      h2.decorative Hair Colors
      ul
        li
          b Full Color or Glaze -
          | $75 and up
          span ($50 for junior stylist)
        li
          b Double Process -
          | $130 and up
          span ($120 for junior stylist)
        li
          b Partial Foil -
          | $75 and up
          span ($55 for junior stylist)
        li
          b Half-head Foil -
          | $105 and up
          span ($90 for junior stylist)
        li
          b Full Foil -
          | $155 and up
          span ($135 for junior stylist)
        li
          b Corrective Color -
          .italic *priced upon consultation
    .col-sm-3.styledrys
      h2.decorative Styling &amp; Blowdrys
      ul
        li
          b Blowdry -
          | $35 and up
          span ($30 for junior stylist)
        li
          b Flat Iron -
          | $15 and up
          span ($10 for junior stylist)
        li
          b Curling Iron -
          | $20 and up
          span ($10 for junior stylist)
        li
          b Special Occasion Styling -
          | $75 and up
    .col-sm-3.textures
      h2.decorative Texture
      ul
        li
          b Keratin Treatment -
          | $300 and up
        li
          b Keratin Express Treatment -
          | $125 and up
