.servicesHero
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
    .carousel-inner
      .item.cuts.active
        .container
          .carousel-caption
            h1.decorative Crafted Cuts
            p Whether you need a touch up, a fix up, a buzz up, or a trim up, Studio 101 is your hook up for award-winning 'dos.
      .item.styles
        .container
          .carousel-caption
            h1.decorative Sexy Styles
            p Turn heads with hair that awes. Our talented stylists straighten, curl, and shape hair into breathtaking beautys.
      .item.blowdrys
        .container
          .carousel-caption
            h1.decorative Bold Blowdrys
            p Be the talk of the party. Our stunning blowouts are sure to leave you with volumetric hair and silky smooth ends. 
      .item.colors
        .container
          .carousel-caption
            h1.decorative Classy Colors
            p Blonde, brunette, black, or burgandy – we've got you covered for any color, highlight, or glaze your looking for.
