.servicesBreakdown
  padding 0 15px 60px 15px
  .col-sm-3
    text-align left
    margin-bottom 0
    margin-top 0
    display inline-block
    @media (max-width: 992px)
      width 50%
      float left
      padding-left 10%
      &.styledrys
        margin-top -11.7em
    @media (max-width: 610px)
      margin 0 auto 60px auto
      width 230px
      float none
      display block
      padding 0
      &.styledrys
        margin-top 0
    p
      margin 0 10px
    &.waxcuts
      h2
        background-image url('../img/services/icons/waxcuts.svg')
    &.textures
      h2
        background-image url('../img/services/icons/textures.svg')
    &.styledrys
      h2
        background-image url('../img/services/icons/styledrys.svg')
    &.colors
      h2
        background-image url('../img/services/icons/colors.svg')
  h2
    font-weight normal
    margin 0.85em 0 1em 0
    padding-left 30px
    background-repeat no-repeat
    background-position left top
    background-size auto 100%
  ul
    padding 0
    list-style-type none
    li
      margin-bottom 20px
      padding-left 11px
      border-left 4px solid light-grey
  b
    display block
  span
    display block
    font-style italic
    font-size 12px
    opacity (0.5)
