.topNav
  position absolute
  z-index 10
  background rgba(255,255,255,0.8)
  border none
  .navbar-brand
    padding 10px 15px
  .navbar-toggle
    margin-top 16px
    border-color black
    background rgba(255,255,255,0.5)
    &:hover
      background rgba(0,0,0,0.2)
    .icon-bar
      background black
  .logo
    height 50px
    width 77px
  .navbar-nav > li
    > a
      padding 25px 20px
      color black
    &.active > a, &.active > a:hover, > a:hover
      background orange
  @media (max-width: 768px)
    .navbar-toggle
      &:focus
        outline none
    .navbar-collapse
      background-color rgba(255,255,255,0.75)
    .navbar-nav
      padding 0
      width 100%
      margin 0
      a
        margin-left -15px
        margin-right -15px
