body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p,
pre {
  margin: 1em 0;
}
blockquote {
  margin: 1em 40px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'courier new', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dl {
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
:-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Open Sans', HelveticaNeue, Helvetica, Arial, sans-serif;
}
.decorative {
  font-family: 'Great Vibes', cursive;
}
.fixed-top {
  position: fixed !important;
  top: 0 !important;
}
.italic {
  font-style: italic;
}
*::selection {
  background: #ef832e;
}
*::-moz-selection {
  background: #ef832e;
}
.link,
.link:hover {
  color: #ef832e;
}
.btn {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.btn-primary {
  text-decoration: none;
  background: #ef832e;
  font-size: 14px;
  font-weight: 700;
  text-shadow: none;
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 40px;
}
.btn-primary:hover {
  background: #f19146;
}
.btn-primary:active {
  background: #d96911;
}
.btn-default {
  color: #fff;
  text-decoration: none;
  background: #ef832e;
  font-size: 14px;
  font-weight: 700;
  text-shadow: none;
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 16px;
}
.btn-default:hover {
  color: #fff;
  background: #f19146;
}
.btn-default:active {
  color: #fff;
  background: #d96911;
}
.btn-arrow {
  color: #ef832e;
  font-weight: 600;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 16px;
  text-transform: capitalize;
}
.btn-arrow:after {
  content: ' →';
}
.btn-arrow:hover {
  border: 1px solid #ef832e;
  color: #d96911;
}
.btn-arrow:active {
  border: 1px solid #ef832e;
  color: #d96911;
}
@media (max-width: 480px) {
  .btn-arrow {
    border: 1px solid #ef832e;
    color: #d96911;
  }
}
.topNav {
  position: absolute;
  z-index: 10;
  background: rgba(255,255,255,0.8);
  border: none;
}
.topNav .navbar-brand {
  padding: 10px 15px;
}
.topNav .navbar-toggle {
  margin-top: 16px;
  border-color: #272727;
  background: rgba(255,255,255,0.5);
}
.topNav .navbar-toggle:hover {
  background: rgba(0,0,0,0.2);
}
.topNav .navbar-toggle .icon-bar {
  background: #272727;
}
.topNav .logo {
  height: 50px;
  width: 77px;
}
.topNav .navbar-nav > li > a {
  padding: 25px 20px;
  color: #272727;
}
.topNav .navbar-nav > li.active > a,
.topNav .navbar-nav > li.active > a:hover,
.topNav .navbar-nav > li > a:hover {
  background: #ef832e;
}
@media (max-width: 768px) {
  .topNav .navbar-toggle:focus {
    outline: none;
  }
  .topNav .navbar-collapse {
    background-color: rgba(255,255,255,0.75);
  }
  .topNav .navbar-nav {
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .topNav .navbar-nav a {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.landingHero .carousel {
  height: 575px;
  margin-bottom: 60px;
}
@media (max-width: 480px) {
  .landingHero .carousel {
    height: 485px;
  }
}
.landingHero .item {
  height: 575px;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.landingHero .item.about {
  background-image: url("../img/landing/carousel/about.jpg");
}
.landingHero .item.services {
  background-image: url("../img/landing/carousel/services.jpg");
}
@media (max-width: 768px) {
  .landingHero .item.services h1 {
    font-size: 3em;
  }
}
.landingHero .item.products {
  background-image: url("../img/landing/carousel/products.jpg");
}
.landingHero .item.contact {
  background-image: url("../img/landing/carousel/welcome.jpg");
}
@media (max-width: 480px) {
  .landingHero .item {
    height: 485px;
  }
}
.landingHero .carousel-caption {
  z-index: 9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.5)), color-stop(0.25, rgba(0,0,0,0.5)), color-stop(0.5, rgba(0,0,0,0.5)), color-stop(1, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
  background: linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
  width: 100%;
  left: 0;
  top: 70px;
}
.landingHero .carousel-caption h1 {
  font-size: 90px;
  margin: 1.3em 0 -20px 0;
  include: text-shadow(1px 1px 1px rgba(0,0,0,0.35));
}
@media (max-width: 768px) {
  .landingHero .carousel-caption h1 {
    font-size: 3.5em;
    margin: 1.3em 0 -0.2em 0;
  }
}
.landingHero .carousel-caption p {
  margin: 20px auto;
  font-size: 16px;
  line-height: 1.4;
  max-width: 450px;
  text-shadow: 0 1px 3px #272727;
  font-weight: 600;
  line-height: 25px;
}
.landingHero .btn-primary {
  margin-top: 20px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  -ms-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.newsPromotions {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 150px;
  margin-bottom: 200px;
}
@media (max-width: 768px) {
  .newsPromotions {
    margin-top: -40px;
    margin-bottom: 40px;
  }
}
.newsPromotions a {
  color: #ef832e;
  text-decoration: underline;
}
.newsPromotions .col-sm-4 {
  text-align: left;
  display: inline-block;
}
@media (max-width: 768px) {
  .newsPromotions .col-sm-4 {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.newsPromotions .col-sm-4 .post p {
  margin: 0;
}
.newsPromotions .col-sm-4 .post img {
  max-width: 100%;
  height: auto;
}
.newsPromotions .col-sm-4 h1 {
  font-weight: normal;
  margin: 0.85em 0 1em 0;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  -ms-background-size: auto 100%;
  background-size: auto 100%;
}
.newsPromotions .col-sm-4.latestNews h1 {
  background-image: url("../img/landing/icons/news.svg");
  -webkit-background-size: auto 90%;
  -moz-background-size: auto 90%;
  -o-background-size: auto 90%;
  -ms-background-size: auto 90%;
  background-size: auto 90%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .newsPromotions .col-sm-4.latestNews {
    width: 50%;
  }
}
.newsPromotions .col-sm-4.currentPromotions h1 {
  background-image: url("../img/landing/icons/promos.svg");
}
@media (min-width: 768px) and (max-width: 992px) {
  .newsPromotions .col-sm-4.currentPromotions {
    width: 50%;
  }
}
.newsPromotions .col-sm-4.twitter h1 {
  padding-left: 35px;
  background-image: url("../img/landing/icons/twitter.svg");
  -webkit-background-size: auto 90%;
  -moz-background-size: auto 90%;
  -o-background-size: auto 90%;
  -ms-background-size: auto 90%;
  background-size: auto 90%;
}
.newsPromotions .col-sm-4.twitter .twitter-handle {
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
.newsPromotions .col-sm-4.twitter #twitter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.newsPromotions .col-sm-4.twitter #twitter div,
.newsPromotions .col-sm-4.twitter #twitter p {
  display: none;
}
.newsPromotions .col-sm-4.twitter #twitter .tweet,
.newsPromotions .col-sm-4.twitter #twitter .timePosted {
  display: block;
}
.newsPromotions .col-sm-4.twitter #twitter .tweet {
  font-style: italic;
}
.newsPromotions .col-sm-4.twitter #twitter .tweet:before {
  content: '“';
}
.newsPromotions .col-sm-4.twitter #twitter .tweet:after {
  content: '”';
}
.newsPromotions .col-sm-4.twitter #twitter .timePosted {
  font-size: 10px;
  margin: 0;
  color: #a2a2a2;
}
@media (max-width: 992px) {
  .newsPromotions .col-sm-4.twitter {
    display: none;
  }
}
.productsHero ol {
  list-style: none;
}
@media (max-width: 480px) {
  .productsHero ol {
    margin: 0;
    overflow: hidden;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 20px;
  }
}
@media (max-width: 480px) {
  .productsHero .toggle {
    display: none;
  }
}
@media (max-width: 480px) {
  .productsHero #myCarousel {
    margin-top: 70px;
  }
}
.productsHero .item {
  height: 575px;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 480px) {
  .productsHero .item {
    display: none;
  }
}
.productsHero .item.shu {
  background-image: url("../img/products/shu-hero.jpg");
  background-position: top right;
  background-color: #272727;
}
@media (max-width: 992px) {
  .productsHero .item.shu {
    background-position: top center;
  }
}
@media (max-width: 710px) {
  .productsHero .item.shu {
    background-position: left center;
    text-align: center;
  }
  .productsHero .item.shu p {
    text-align: center;
  }
  .productsHero .item.shu img {
    width: 100%;
    margin: auto;
    max-width: 498px;
  }
}
.productsHero .item.shu img {
  max-width: 450px;
  height: auto;
}
@media (min-width: 1200px) {
  .productsHero .item.shu .carousel-caption {
    padding-left: 100px;
  }
}
.productsHero .item.loreal {
  background-image: url("../img/products/loreal-hero.jpg");
}
.productsHero .item.loreal .carousel-caption p {
  text-align: left;
}
@media (max-width: 768px) {
  .productsHero .item.loreal {
    background-position: top left;
    -webkit-background-size: 450%;
    -moz-background-size: 450%;
    -o-background-size: 450%;
    -ms-background-size: 450%;
    background-size: 450%;
    text-align: center;
  }
  .productsHero .item.loreal .carousel-caption,
  .productsHero .item.loreal .carousel-caption p {
    text-align: center;
    margin: 20px auto;
  }
  .productsHero .item.loreal .carousel-caption img,
  .productsHero .item.loreal .carousel-caption p img {
    width: 100%;
    margin: auto;
    max-width: 350px;
  }
}
.productsHero .carousel-caption {
  position: static;
  padding-top: 180px;
  text-align: left;
}
@media (min-width: 1200px) {
  .productsHero .carousel-caption {
    padding-left: 100px;
  }
}
@media (max-width: 710px) {
  .productsHero .carousel-caption {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (max-width: 480px) {
  .productsHero .carousel-caption {
    padding-top: 155px;
  }
}
.productsHero .carousel-caption p {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.4;
  max-width: 450px;
  text-shadow: 0 1px 3px #272727;
  font-weight: 600;
  line-height: 25px;
  text-align: right;
}
.productsHero .carousel-indicators {
  position: static;
  margin: 160px 0 0 0;
  left: 0;
  width: 100%;
  min-height: 1000px;
}
.productsHero .carousel-indicators li {
  height: 100%;
  width: 100%;
  margin: 0;
  text-indent: 0;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  float: left;
}
.productsHero .carousel-indicators li .toggle {
  position: absolute;
  top: 575px;
  z-index: 10;
  height: 60px;
  width: 50%;
  float: left;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.productsHero .carousel-indicators li .toggle.shu {
  background-color: #989a9a;
}
.productsHero .carousel-indicators li .toggle.loreal {
  background-color: #fae2ac;
  right: 0;
}
.productsHero .carousel-indicators li .product-list {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 0;
  display: block;
  -webkit-transition: opacity 500ms ease-in, height 500ms ease-in;
  -moz-transition: opacity 500ms ease-in, height 500ms ease-in;
  -o-transition: opacity 500ms ease-in, height 500ms ease-in;
  -ms-transition: opacity 500ms ease-in, height 500ms ease-in;
  transition: opacity 500ms ease-in, height 500ms ease-in;
}
.productsHero .carousel-indicators li .logo {
  height: 40px;
  width: auto;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .productsHero .carousel-indicators li .logo {
    height: 30px;
    margin-top: 15px;
  }
}
.productsHero .carousel-indicators li.active .toggle,
.productsHero .carousel-indicators li.active .product-list {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.productsHero .carousel-indicators li.active .toggle.shu,
.productsHero .carousel-indicators li.active .product-list.shu {
  background-color: #313535;
}
.productsHero .carousel-indicators li.active .toggle.loreal,
.productsHero .carousel-indicators li.active .product-list.loreal {
  background-color: #f3c45f;
}
.productsHero .product-list .row {
  margin-bottom: 100px;
}
.productsHero .product-list .row .col-sm-3 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
}
@media (max-width: 990px) {
  .productsHero .product-list .row .col-sm-3 {
    width: 270px;
    margin-left: 12%;
  }
}
@media (max-width: 768px) {
  .productsHero .product-list .row .col-sm-3 {
    width: auto;
    margin-left: auto;
  }
}
.productsHero .product-list .row .col-sm-3 p {
  margin: 0 10px;
}
.productsHero .product-list .row .img-circle {
  width: 90%;
  height: auto;
  -webkit-box-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  -o-box-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  -ms-box-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  box-shadow: 0 -1px 0px rgba(0,0,0,0.5);
}
.productsHero .product-list .row .col-sm-5 {
  text-align: left;
}
@media (max-width: 768px) {
  .productsHero .product-list .row .col-sm-5 {
    text-align: center;
  }
}
.productsHero .product-list .row .col-sm-5 h2 {
  font-weight: normal;
  margin: 2.5em 0 0.5em 0;
}
@media (max-width: 1200px) {
  .productsHero .product-list .row .col-sm-5 h2 {
    margin-top: 1.2em;
  }
}
.servicesHero .carousel {
  height: 575px;
  margin-bottom: 60px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .servicesHero .carousel {
    height: 485px;
  }
}
.servicesHero .item {
  height: 575px;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.servicesHero .item.cuts {
  background-image: url("../img/services/carousel/cuts.jpg");
}
.servicesHero .item.styles {
  background-image: url("../img/services/carousel/styles.jpg");
}
.servicesHero .item.blowdrys {
  background-image: url("../img/services/carousel/blowdrys.jpg");
}
.servicesHero .item.colors {
  background-image: url("../img/services/carousel/colors.jpg");
}
.servicesHero .carousel-caption {
  z-index: 9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.5)), color-stop(0.25, rgba(0,0,0,0.5)), color-stop(0.5, rgba(0,0,0,0.5)), color-stop(1, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
  background: linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
  width: 100%;
  left: 0;
  top: 70px;
}
.servicesHero .carousel-caption h1 {
  font-size: 90px;
  margin: 1.4em 0 -20px 0;
  include: text-shadow(1px 1px 1px rgba(0,0,0,0.35));
}
@media (max-width: 768px) {
  .servicesHero .carousel-caption h1 {
    font-size: 3.5em;
    margin: 1.3em 0 -0.2em 0;
  }
}
.servicesHero .carousel-caption p {
  margin: 20px auto;
  font-size: 16px;
  line-height: 1.4;
  max-width: 450px;
  text-shadow: 0 1px 3px #272727;
  font-weight: 600;
  line-height: 25px;
}
@media (max-width: 768px) {
  .servicesHero .carousel-caption p {
    max-width: 90%;
  }
}
@media (max-width: 600px) {
  .aboutHero {
    margin-top: 30px;
  }
}
.aboutHero .carousel {
  height: 621px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .aboutHero .carousel {
    height: 900px;
  }
}
.aboutHero .carousel-inner {
  height: 100%;
}
@media (max-width: 600px) {
  .aboutHero .carousel-inner {
    position: static;
    display: block;
  }
}
.aboutHero .item {
  height: 520px;
  overflow: hidden;
  background-position: bottom left;
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  .aboutHero .item {
    height: 800px;
  }
}
@media (max-width: 600px) {
  .aboutHero .item {
    height: auto;
    display: block;
    position: static;
    clear: both;
  }
  .aboutHero .item .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.aboutHero .item img {
  height: 400px;
  width: auto;
}
.aboutHero .carousel-caption {
  z-index: 9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0,0,0,0.1)), color-stop(0.25, rgba(0,0,0,0.1)), color-stop(0.5, rgba(0,0,0,0.1)), color-stop(1, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
  background: linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 100%);
  width: 100%;
  left: 0;
  top: 80px;
}
@media (max-width: 992px) {
  .aboutHero .carousel-caption .col-md-4,
  .aboutHero .carousel-caption .col-md-8 {
    display: inline-block;
    vertical-align: top;
  }
  .aboutHero .carousel-caption .col-md-4 {
    width: 33%;
  }
  .aboutHero .carousel-caption .col-md-8 {
    width: 66%;
  }
}
@media (max-width: 768px) {
  .aboutHero .carousel-caption .col-md-4,
  .aboutHero .carousel-caption .col-md-8 {
    display: block;
  }
  .aboutHero .carousel-caption .col-md-4 {
    width: 100%;
  }
  .aboutHero .carousel-caption .col-md-8 {
    width: 80%;
    margin: 0 10%;
  }
  .aboutHero .carousel-caption .col-md-4 {
    position: absolute;
    -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
  }
}
@media (max-width: 600px) {
  .aboutHero .carousel-caption {
    position: static;
    display: block;
  }
  .aboutHero .carousel-caption .row {
    position: relative;
  }
  .aboutHero .carousel-caption .col-md-4 {
    position: absolute;
    bottom: -20px;
  }
}
.aboutHero .carousel-caption h1 {
  color: #ef832e;
  font-size: 40px;
  text-shadow: none;
  margin: 1.4em 0 -20px 0;
  text-align: left;
}
.aboutHero .carousel-caption h1 span {
  display: block;
  font-family: 'Open Sans', HelveticaNeue, Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  color: #444;
  padding: 10px 0;
  border-top: 1px solid #d0d0d0;
}
@media (max-width: 768px) {
  .aboutHero .carousel-caption h1 {
    font-size: 3.5em;
    margin: 1.3em 0 -0.2em 0;
  }
}
.aboutHero .carousel-caption p {
  margin: 40px 0 20px 0;
  color: #444;
  font-size: 16px;
  line-height: 1.4;
  text-shadow: none;
  text-align: left;
  max-width: 450px;
  font-weight: 400;
  line-height: 25px;
}
@media (max-width: 768px) {
  .aboutHero .carousel-caption p {
    font-size: 14px;
  }
}
.aboutHero .talent-thumbnails {
  position: absolute;
  top: 543px;
  width: 100%;
}
@media (max-width: 600px) {
  .aboutHero .talent-thumbnails {
    display: none;
  }
}
.aboutHero .talent-thumbnails h1 {
  font-size: 45px;
  max-width: 33%;
  margin-top: -100px;
  color: #ddd;
}
@media (max-width: 1200px) {
  .aboutHero .talent-thumbnails h1 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .aboutHero .talent-thumbnails h1 {
    font-size: 35px;
  }
}
@media (max-width: 790px) {
  .aboutHero .talent-thumbnails h1 {
    display: none;
  }
}
.aboutHero .talent-thumbnails .container {
  height: 100px;
}
@media (max-width: 992px) {
  .aboutHero .talent-thumbnails .container {
    width: 100%;
  }
}
@media (max-width: 790px) {
  .aboutHero .talent-thumbnails .container {
    margin-left: -2%;
  }
}
.aboutHero .talent-thumbnails .carousel-indicators {
  bottom: 20px;
  width: 100%;
  margin: 0;
  position: static;
  height: 100px;
}
.aboutHero .talent-thumbnails .carousel-indicators li {
  background-color: transparent;
  width: 10%;
  margin: -23px -2% 0 -2%;
  padding: 0;
  text-indent: 0;
  text-align: center;
  border: none;
  overflow: hidden;
  height: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
@media (max-width: 790px) {
  .aboutHero .talent-thumbnails .carousel-indicators li {
    margin: 0;
    overflow: visible;
  }
}
.aboutHero .talent-thumbnails .carousel-indicators li:hover {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  z-index: 999;
}
.aboutHero .talent-thumbnails .carousel-indicators:first-child {
  margin-left: 33%;
}
@media (max-width: 992px) {
  .aboutHero .talent-thumbnails .carousel-indicators:first-child {
    margin-left: 15%;
  }
}
@media (max-width: 790px) {
  .aboutHero .talent-thumbnails .carousel-indicators:first-child {
    margin-left: 0;
  }
}
.aboutHero .talent-thumbnails .carousel-indicators img {
  width: auto;
  height: 100px;
}
.aboutHero .talent-thumbnails .carousel-indicators img.kristen {
  position: relative;
  right: -6%;
}
.aboutHero .talent-thumbnails .carousel-indicators img.lori,
.aboutHero .talent-thumbnails .carousel-indicators img.taylor,
.aboutHero .talent-thumbnails .carousel-indicators img.greg {
  position: relative;
  left: -6%;
}
.aboutHero .talent-thumbnails .carousel-indicators img.katie {
  position: relative;
  left: -4%;
}
.aboutHero hr {
  border: 0;
  height: 1px;
  margin-top: -1px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0)), color-stop(0.33333333333333326, rgba(0,0,0,0.1)), color-stop(1, rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 33.33333333333333%, rgba(0,0,0,0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 33.33333333333333%, rgba(0,0,0,0) 100%);
  background-image: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 33.33333333333333%, rgba(0,0,0,0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 33.33333333333333%, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 33.33333333333333%, rgba(0,0,0,0) 100%);
}
.aboutAwards {
  margin-top: 80px;
  margin-bottom: 120px;
  text-align: center;
}
.aboutAwards h1 {
  font-size: 45px;
}
@media (max-width: 1200px) {
  .aboutAwards h1 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .aboutAwards h1 {
    font-size: 35px;
  }
}
.aboutAwards img {
  max-width: 150px;
  margin: auto;
}
.aboutAwards img.projo {
  margin-right: -70px;
  margin-top: 17px;
}
@media (max-width: 600px) {
  .aboutAwards img.projo {
    margin: auto;
    margin-top: 20px;
  }
}
.aboutAwards img.allure {
  margin-top: 20px;
}
@media (max-width: 600px) {
  .aboutAwards img.allure {
    margin-top: 30px;
  }
}
.aboutAwards img.style-week {
  margin-left: -70px;
}
@media (max-width: 600px) {
  .aboutAwards img.style-week {
    margin: auto;
    margin-top: 20px;
  }
}
.servicesBreakdown {
  padding: 0 15px 60px 15px;
}
.servicesBreakdown .col-sm-3 {
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
}
@media (max-width: 992px) {
  .servicesBreakdown .col-sm-3 {
    width: 50%;
    float: left;
    padding-left: 10%;
  }
  .servicesBreakdown .col-sm-3.styledrys {
    margin-top: -11.7em;
  }
}
@media (max-width: 610px) {
  .servicesBreakdown .col-sm-3 {
    margin: 0 auto 60px auto;
    width: 230px;
    float: none;
    display: block;
    padding: 0;
  }
  .servicesBreakdown .col-sm-3.styledrys {
    margin-top: 0;
  }
}
.servicesBreakdown .col-sm-3 p {
  margin: 0 10px;
}
.servicesBreakdown .col-sm-3.waxcuts h2 {
  background-image: url("../img/services/icons/waxcuts.svg");
}
.servicesBreakdown .col-sm-3.textures h2 {
  background-image: url("../img/services/icons/textures.svg");
}
.servicesBreakdown .col-sm-3.styledrys h2 {
  background-image: url("../img/services/icons/styledrys.svg");
}
.servicesBreakdown .col-sm-3.colors h2 {
  background-image: url("../img/services/icons/colors.svg");
}
.servicesBreakdown h2 {
  font-weight: normal;
  margin: 0.85em 0 1em 0;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  -ms-background-size: auto 100%;
  background-size: auto 100%;
}
.servicesBreakdown ul {
  padding: 0;
  list-style-type: none;
}
.servicesBreakdown ul li {
  margin-bottom: 20px;
  padding-left: 11px;
  border-left: 4px solid #f2f2f2;
}
.servicesBreakdown b {
  display: block;
}
.servicesBreakdown span {
  display: block;
  font-style: italic;
  font-size: 12px;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.landingNav {
  padding-left: 15px;
  padding-right: 15px;
}
.landingNav .col-sm-3 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
}
@media (max-width: 992px) and (min-width: 480px) {
  .landingNav .col-sm-3 {
    width: 32%;
    padding: 0 1%;
  }
}
@media (max-width: 480px) {
  .landingNav .col-sm-3 {
    margin-bottom: 60px;
  }
}
.landingNav .col-sm-3 p {
  margin: 0 10px;
}
.landingNav .img-circle {
  width: 90%;
  height: auto;
  -webkit-box-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  -o-box-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  -ms-box-shadow: 0 -1px 0px rgba(0,0,0,0.5);
  box-shadow: 0 -1px 0px rgba(0,0,0,0.5);
}
@media (max-width: 992px) and (min-width: 480px) {
  .landingNav .img-circle {
    width: 70%;
  }
}
.landingNav h2 {
  font-weight: normal;
  margin: 0.85em 0 0.5em 0;
}
.landingNav .btn-arrow {
  margin: 1.5em 0;
}
@media (max-width: 992px) and (min-width: 480px) {
  .landingNav .get-in-touch {
    display: none;
  }
}
.map-wrapper {
  width: 100%;
  overflow: hidden;
}
.map-wrapper .directions {
  position: absolute;
  width: 100%;
  height: 450px;
  z-index: 9;
}
.map-wrapper .row {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 450px;
}
.map-wrapper .row .pin {
  position: relative;
  width: 100%;
  height: 450px;
}
.map-wrapper .row .pin p {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background: transparent url("../../img/contact/pin.svg") no-repeat 100px center;
  height: 140px;
  padding: 3% 0 8% 120px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
  background-size: contain;
  vertical-align: middle;
  width: 250px;
}
@media (max-width: 480px) {
  .map-wrapper .row .pin p {
    text-align: center;
    top: -30px;
    left: -20px;
  }
}
.map-wrapper .row .pin p span {
  position: relative;
  left: 100px;
}
@media (max-width: 480px) {
  .map-wrapper .row .pin p span {
    top: 150px;
    left: -36px;
  }
}
.map-wrapper #map {
  width: 120%;
  margin: 0 -10%;
  height: 450px;
}
.footer {
  clear: both;
  background: #f2f2f2;
}
.footer .col-sm-4 {
  margin-top: 3em;
}
@media (max-width: 992px) {
  .footer .col-sm-4 {
    width: 50%;
    float: left;
  }
}
@media (max-width: 480px) {
  .footer .col-sm-4 {
    width: 100%;
    display: block;
  }
}
.footer .logo {
  width: 25%;
}
.footer .copyright {
  text-align: center;
  font-size: 0.75em;
  color: #a5a5a5;
}
@media (max-width: 600px) {
  .footer .email {
    position: relative;
    left: -30px;
  }
}
@media (max-width: 320px) {
  .footer .email {
    left: -20px;
  }
}
.footer h2 {
  font-weight: normal;
  margin: 0.85em 0 0.5em 0;
}
.footer h3 {
  line-height: 22px;
  color: #444;
  font-size: 14px;
  padding: 10px 15px;
  margin: 0;
  width: 100%;
  float: left;
  background-color: rgba(0,0,0,0.01);
  border-left: 0;
}
.footer .odd {
  background-color: rgba(0,0,0,0.04);
}
.footer .moduleLabel {
  float: left;
  width: 40%;
}
.footer .moduleDescription {
  width: 53%;
  float: right;
  padding-top: 1%;
  text-shadow: none;
  line-height: 22px;
  font-size: 14px;
  text-align: right;
  font-style: italic;
}
.footer .social-links {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  display: block;
  margin-top: 10px;
}
.footer .social-links .facebook,
.footer .social-links .twitter {
  color: #272727;
  font-family: fontAwesome;
  font-style: normal;
  font-size: 18px;
  padding-left: 10px;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  -ms-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.footer .social-links a:hover {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  text-decoration: none;
}
.footer .social-links .facebook:before {
  content: "\f09a";
}
.footer .social-links .twitter:before {
  content: "\f099";
}
@media (max-width: 768px) {
  body {
    display: none;
  }
}
