body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.topNav {
  position: absolute;
}
.landingHero .carousel {
  height: 500px;
  margin-bottom: 60px;
}
.landingHero .carousel .item {
  height: 500px;
  background-color: #777;
}
.landingHero .carousel-caption {
  z-index: 10;
}
.landingHero .carousel-caption p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4;
}
.landingHero .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.landingNav {
  padding-left: 15px;
  padding-right: 15px;
}
.landingNav .col-sm-3 {
  text-align: center;
  margin-bottom: 20px;
}
.landingNav .col-sm-3 p {
  margin-left: 10px;
  margin-right: 10px;
}
.landingNav h2 {
  font-weight: normal;
}
