.container.landingNav
  .row
    .col-sm-3
      img.img-circle(src='img/landing/nav/about.jpg', alt='about')
      h2.decorative Who Are We?
      p Learn about Rhode Island's most-talked-about premier salon.
      p.visible-xs
        a.btn.btn-arrow(href='about.html', role='button') Learn about us
    .col-sm-3
      img.img-circle(src='img/landing/nav/services.jpg', alt='services')
      h2.decorative What We Do?
      p We've got you covered with a wide range of services.
      p.visible-xs
        a.btn.btn-arrow(href='services.html', role='button') View our services
    .col-sm-3
      img.img-circle(src='img/landing/nav/products.jpg', alt='products')
      h2.decorative What We Use?
      p Look at the products we trust every day at Studio 101.
      p.visible-xs
        a.btn.btn-arrow(href='products.html', role='button') Peruse our products
    .col-sm-3.get-in-touch
      img.img-circle(src='img/landing/nav/contact.jpg', alt='contact')
      h2.decorative Where to start?
      p Get directions to the salon or give us a call to make an appointment.
      p.visible-xs
        a.btn.btn-arrow(href='contact.html', role='button') Get in touch!
  .row.hidden-xs
    .col-sm-3
      p
        a.btn.btn-arrow(href='about.html', role='button') Learn about us
    .col-sm-3
      p
        a.btn.btn-arrow(href='services.html', role='button') View our services
    .col-sm-3
      p
        a.btn.btn-arrow(href='products.html', role='button') Peruse our products
    .col-sm-3.get-in-touch
      p
        a.btn.btn-arrow(href='contact.html', role='button') Schedule an appointment
