//- link(type='text/css', rel='stylesheet', href='http://www.demandforce.com/widget/css/widget.css')
//- script(type='text/javascript')
//-     d3cp_bid = '122002190'; // Business ID in DemandforceD3
//-     //d3cp_appt_source = 'My Website';  //optional. See Instructions.
//-     //d3cp_appt_returnpage = 'your_page_url'; // Optional. See Instructions.
//-     //d3cp_appt_postdata = 'false';  // Optional. See Instructions.
//- script(src='http://www.demandforced3.com/b/studio101ri/scheduler.widget', type='text/javascript')
//- a(style="cursor: pointer;" name="scheduler_tile" id="scheduler_tile_l"  onclick="javascript:window.open('http://www.demandforced3.com/b/etile_scheduler_popup.jsp?d3cp_exid=studio101ri&d3cp_source=My%20Website','newwindow', 'width=790px, top=0, left=0, toolbar=no, menubar=no, scrollbars=1, resizable=1, location=no, status=0');")
//-   img(src="http://www.demandforced3.com/b/css/1.0/images/bttn_easyscheduler468.png")
include _topNav
include _map
