.btn-primary
  text-decoration none
  background orange
  font-size 14px
  font-weight 700
  text-shadow none
  text-transform uppercase
  border none
  border-radius 3px
  padding 14px 40px 15px 40px
  &:hover
    background lighten(orange, 5)
  &:active
    background darken(orange, 10)
