.footer
  clear both
  background light-grey
  .col-sm-4
    margin-top 3em
    @media (max-width: 992px)
      width 50%
      float left
    @media (max-width: 480px)
      width 100%
      display block
  .logo
    width 25%
  .copyright
    text-align center
    font-size 0.75em
    color darken(light-grey, 30)
  .email
    @media (max-width: 600px)
      position relative
      left -30px
    @media (max-width: 320px)
      left -20px
  h2
    font-weight normal
    margin 0.85em 0 0.5em 0
  h3
    line-height 22px
    color dark-grey
    font-size 14px
    padding 10px 15px
    margin 0
    width 100%
    float left
    background-color rgba(0,0,0,0.01)
    border-left 0
  .odd
    background-color rgba(0,0,0,0.04)
  .moduleLabel
    float left
    width 40%
  .moduleDescription
    width 53%
    float right
    padding-top 1%
    text-shadow none
    line-height 22px
    font-size 14px
    text-align right
    font-style italic
  .social-links
    opacity 0.5
    display block
    margin-top 10px
    .facebook, .twitter
      color black
      font-family iconography
      font-style normal
      font-size 18px
      padding-left 10px
      opacity 0.5
      transition opacity 200ms linear
    a:hover
      opacity 0.8
      text-decoration none
    .facebook
      &:before
        content "\f09a"
    .twitter
      &:before
        content "\f099"
