.landingHero
  .carousel
    height 500px
    margin-bottom 60px
    .item
      height 500px
      @include background(linear-gradient(from top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,0) 98%,rgba(0,0,0,0) 100%))
  .carousel-caption
    z-index 10
    h1 
      font-size 90px
      margin-bottom 20px
      @include text-shadow(1px 1px 1px rgba(0,0,0, 0.35))
    p
      margin-bottom 20px
      font-size 21px
      line-height 1.4
  .carousel-inner
    & > .item
      & > img
        position absolute
        top 0
        left 0
        min-height: 500px
        min-width 100%
        height: auto
