.newsPromotions
  padding-left 15px
  padding-right 15px
  margin-top 150px
  margin-bottom 200px
  a
    color orange
    text-decoration underline
  .col-sm-4
    text-align left
    display inline-block
    .post
      p
        margin 0
      img
        max-width 100%
        height auto
    h1
      font-weight normal
      margin 0.85em 0 1em 0
      padding-left 40px
      background-repeat no-repeat
      background-position left top
      background-size auto 100%
    &.latestNews h1
      background-image url('../img/landing/icons/news.svg')
      background-size auto 90%
    &.currentPromotions h1
      background-image url('../img/landing/icons/promos.svg')
    &.twitter
      h1
        padding-left 35px
        background-image url('../img/landing/icons/twitter.svg')
        background-size auto 90%
      #twitter
        ul
          list-style none
          margin 0
          padding 0
        div, p
          display none
        .tweet, .timePosted
          display block
        .tweet
          font-style italic
          &:before
            content '“'
          &:after
            content '”'
        .timePosted
          font-size 10px
          margin 0
          color lighten(dark-grey, 50%)
