// -------------------------------------------------------
// Roots global settings variables
// -------------------------------------------------------

// font options (add your own!)
open-sans = 'Open Sans', HelveticaNeue, Helvetica, Arial, sans-serif
great-vibes = 'Great Vibes', cursive
iconography = fontAwesome

// font stack
body
  font-family: open-sans
.decorative
  font-family: great-vibes

// colors
orange = #ef832e
light-grey = #F2F2F2
dark-grey = #444444

// default color
default-color = blue

// text hilight color
highlight-color = orange

// vendor prefixes
vendors = webkit moz o ms official

// custom image base path for roots mixins
img-path = ''

.fixed-top
  position fixed !important
  top 0 !important
