// -------------------------------------------------------
// Roots global settings variables
// -------------------------------------------------------

// font options (add your own!)
open-sans = 'Open Sans', HelveticaNeue, Helvetica, Arial, sans-serif
great-vibes = 'Great Vibes', cursive

// font stack
body
  font-family: open-sans
.decorative
  font-family: great-vibes

// colors
orange = #ef832e

// default color
default-color = blue

// text hilight color
highlight-color = orange

// vendor prefixes
vendors = webkit moz o ms official

// custom image base path for roots mixins
img-path = ''
